body {
	background-color: #202125;
	color: white;
	font-family: "Fira Code", "Inconsolata", "DejaVu Sans Mono", monospace;
	margin-left: min(6vw, 2em);
	margin-right: min(6vw, 2em);
	font-size: min(3.3vw, 1.1em);
}

a{
	text-decoration: none;
	color: white;
}

h1{
	font-size: min(9vw, 3em);
}

h2{
	font-size: min(4.5vw, 1.5em);
}

.titlesection{
	margin-bottom: 5vh;
}

.border_button{
	border-width: min(0.6vw, 0.2em);
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: min(6vw, 2em);
	padding: min(3vw, 1em);
	margin-right: min(1,5vw, 0.5em);
	margin-left: min(1,5vw, 0.5em);
	line-height: 4.5;
	font-family: "Arial", "Helvetica", "sans";
	font-size: min(3vw, 1em)
}

.linkrow{
	margin-left: min(3vw, 1em);
	margin-right: min(3vw, 1em);
	margin-top: min(20vh, 7em);
	margin-bottom: min(20vh, 7em);
}

.icon{
	margin-right: min(3vw, 1em);
	margin-left: min(3vw, 0.5em);
	font-size: min(9vw, 3em)
}

.profile_image_main{
	width: min(30vw,10em);
	height: min(30vw, 10em);
	border-radius: 50%;
	object-fit: cover;
	margin-top: 5vh;
	margin-bottom: 5vh
}

.content{
	margin-top:  min(20vh, 7em);
	margin-bottom:  min(20vh, 7em);
	margin-right: 5vw
}

.content_with_inline_image{
	margin-bottom: min(9vw, 3em);
	line-height: 2;
}

.icon_text_right{
	object-fit: cover;
	height: min(6vw, 2em);
	top: min(1.5vw, 0.5em);
	position: relative;
	margin-right: min(6vw, 2em);
}

.icon_text_left{
	object-fit: cover;
	height: min(6vw, 2em);
	position: relative;
	margin-right: min(3vw, 0.5em);
	margin-left: min(6vw, 2em);
}

.text_image_right{
	margin-right: min(6vw, 2em);
	display: inline;
}

.content_with_icon{
	margin-bottom: min(9vw, 3em);
	line-height: 2;
}

.header{
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #202125;
	z-index: 1;
	padding-top: min(1.5vw, 0.5em);
	padding-top: min(1.5vw, 0.5em);
}

.header_img{
	width : min(9vw, 3em);
	height: min(9vw, 3em);
	border-radius: 50%;
	object-fit: cover;
	position: relative;
	top: 0em;
	left: min(3vw, 1em);
	margin: 0;
}

.header_main_pointer{
	display: inline;
	position: relative;
	left: min(4.5vw, 1.5em);
	bottom: min(3.3vw, 1.1em);
}

.header_title{
	font-weight: bold;
	display: inline;
	position: relative;
	left: min(30vw, 10em);
	bottom: min(3.3vw, 1.1em);
}

.header_hr{
	width: 100vw;
	position: relative;
	margin: 0;
}

.medaka_icon{
	margin: min(3vw, 1em);
	width: min(30vw, 30em);
	object-fit: cover;
}

.content_tight{
	margin-bottom:  10vh;
}

.page_with_head{
	position: relative;
	top: min(15vw, 5em);
}

.folding_linkrow{
	line-height: 4;
	margin-top: -8vh;
	margin-bottom: 8vh;
}
